body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, rgb(121, 0, 0), red);
}

#container {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

ul {
  padding: 0;
}

.list-box {
  display: flex;
  border-bottom: 2px solid rgb(212, 212, 212);
  padding: 15px;
  margin: 15px;
  justify-content: space-between;
}

li {
  list-style: none;
  margin-right: 40px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Parisienne', cursive;
  font-size: 48px;
  color: white;
}

button {
  width: 72px;
  height: 42px;
  border: 1px solid red;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

button:hover{
  background-color: red;
  color: white;
}